*.sublime-*
.aws
.DS_Store
#.git
.haxelib
/build.hxml
build
node_modules/
serverconfig.yaml
tmp/
data/computejobs/**
data/registry/**
data/ServiceStorageLocalFileSystem/**

#REMOVE THIS WHEN WORKING
#./etc/log
