*.map
*.sublime-project
*.sublime-workspace
.aws
.bundle
.env*
.haxelib
.idea
.vagrant
/build.hxml
build
node_modules
npm-debug.log
platform
ccc.yml
tmp
data/computejobs/[a-zA-Z0-9_]*
data/registry/[a-zA-Z0-9_]*
data/ServiceStorageLocalFileSystem/[a-zA-Z0-9_]*
data/redis
.cloudcomputecannon
client.py
results
INSTANCE_VERSION
ccc_local*
