*.map
*.sublime-project
*.sublime-workspace
.aws
.bundle
.haxelib
.idea
.vagrant
/build.hxml
build
bin/cloud*
node_modules
npm-debug.log
platform
serverconfig.yml
tmp
data/Service*
data/computejobs/*
data/registry/docker
data/ServiceStorage*
data/redis
.cloudcomputecannon
client.py
results
