version: '2'

services:

  compute:
    build:
      context: .
    volumes:
      - ./tmp/data:/app/data
      - ./:/config
    links:
      - redis
      - registry
      - fluentd
    logging:
      driver: json-file

  redis:
    #This config disables persistance to disk since we do not need it for development
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./etc/redis/redis-prod.conf:/usr/local/etc/redis/redis.conf
    links:
      - fluentd

  registry:
    environment:
      SETTINGS_FLAVOR: local
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
    links:
      - fluentd
    logging:
      driver: none

  fluentd:
    build: ./etc/log/
    volumes:
      - ./etc/log/fluent.dev.conf:/fluentd/etc/fluent.conf
    links:
      - elasticsearch
    logging:
      driver: none

  elasticsearch:
    extends:
      file: docker-compose.core.yml
      service: elasticsearch
    logging:
      driver: none

  kibana:
    extends:
      file: docker-compose.core.yml
      service: kibana
    links:
      - elasticsearch
