#Base content goes above
#To recreate the templates, run
#./bin/build-templates

# Log Forwarding
<match **>
  @type forward

  # primary host
  <server>
    host localhost
    port 24224
  </server>
  # use secondary host
  #<server>
  #  host 192.168.0.2
  #  port 24224
  #  standby
  #</server>

  # use longer flush_interval to reduce CPU usage.
  # note that this is a trade-off against latency.
  flush_interval 10s
</match>